server:
  port: 8080

spring:
  application:
    name: photogallery

  datasource:
    url: jdbc:postgresql://localhost:5432/photogallery_db
    username: postgres
    password: 12344321

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
      format_sql: true

  web:
    resources:
      add-mappings: false

springdoc:
  api-docs:
    path: /v3/api-docs

  swagger-ui:
    path: /swagger-ui.html




